#navigation-area {
    position:fixed;
    top:0px;
    width:100%;
    height:10px;
    opacity:0.9;
}

#navigation-area:hover {
    height:40px;
}

#material-area {
    position:fixed;
    top:0px;
    bottom:0px;
    width:100%;
    z-index:-1
}

#study-area {
    position:fixed;
    bottom:0px;
    width:100%;
    opacity:0.9;
    overflow:auto;
}

#switch-area {
    position:fixed;
    bottom:0px;
    width:100%;
    height:10px;
    opacity:0.9;
}

#switch-area:hover {
    height:40px;
}

#view {
    position:absolute;
    width:100%;
    height:100%;
}

.CodeMirror, .CodeMirror-scroll {
    min-height:170px;
}
