#material-area {
    position:fixed;
    top:0px;
    bottom:0px;
    width:100%;
    z-index:-1
}

#study-area {
    position:absolute;
    bottom:50px;
    right:50px;
    width:500px;
    height:440px;
    opacity:0.98;
}

#study-area-header {
    height:42px;
    padding:1px;
    cursor:move;
    z-index:10;
    background-color:#2196F3;
    color:#fff;
}

#study-area-body {
    width:100%;
    height:356px;
    overflow:auto;
}

#study-area-footer {
    position:absolute;
    bottom:0px;
    width:100%;
    height:40px;
    opacity:0.9;
}

#view {
    position:absolute;
    width:100%;
    height:100%;
}

.CodeMirror, .CodeMirror-scroll {
    min-height:284px;
}
